<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/default}">

<th:block layout:fragment="content">

	<style>
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form__column {
	display: flex;
	flex-direction: row-reverse;
}

.field-error {
	font-size: 20px;
	border-color: #dc3545;
	color: #dc3545;
}
.btn {
display: flex;
}
input[type="submit"]{
margin-right: 2px;}
</style>
	<div class="main__content" >
		<form th:action method="POST" th:object="${board}">
			<div class="form__column">

				<select class="form__select" name="cateno" >
					<option value=1>취미</option>
					<option value=2>블라블라</option>
					<option value=3>반려동물</option>
					<option value=4>이직 커리어</option>
				</select>
				<div class="form__title">
					<input type="text" name="btitle"  th:errorclass="field-error" placeholder="제목을 입력해 주세요"/>
				</div>
			</div>

			<div>
				<textarea name="bcontent" cols="80" rows="30" th:errorclass="field-error" placeholder="내용을 입력해 주세요"></textarea>
			</div>

			<div class="btn">
			<input type="submit" value="저장" class="btn btn-outline-primary"/>
			<input type="reset" value="리셋" class="btn btn-outline-primary"/>
			</div>
		
		</form>
	</div>



</th:block>
</html>