<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.wegoing.dao.BoardDao">
  	<select id="selectCategory" resultType="BoardDTO" parameterType="int">
  		select * from 
  		board
  		where cateno = #{no}
  		limit 5
  	</select>
  	
  	<!-- 나중에 page처리할 떄 변경해서 사용 -->
  	<select id="selectboard" resultType="BoardDTO" parameterType="int">
  		select * from 
  		board
  		where cateno = #{no}
  		limit 8
  	</select>
  	<select  id="selectOne" resultType="BoardDTO" parameterType="int">
  		select * from 
  		board
  		where bno = #{no}
  	</select>
  	<insert id="insert"  parameterType="BoardDTO" >
  		INSERT INTO board
  		(email,cateno,btitle,bcontent,nickname)
  		VALUES
  		(#{email}, #{cateno}, #{btitle}, #{bcontent}, #{nickname})
  	</insert>
  	
  	<delete id="deleteCategory" parameterType="int">
  		delete from board
  		where cateno = #{cateno}
  	</delete>
  	
  	<delete id="deleteAll">
  		delete from board
  	</delete>
  	
  	<select  id="countBoard" resultType="int" parameterType="int">
  		select count(*) from board
  		where cateno = #{cateno}
  	</select>
  	
  	<update id="update" parameterType="BoardDTO">
  		update board
  		set btitle= #{btitle}, bcontent= #{bcontent}, up_dt=#{up_dt}
  		where bno = #{bno}
  	</update>
  </mapper>
