<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.wegoing.dao.DocumentDAO">
  
 	<select id="pagingSelect" parameterType="StartEnd" resultType="DocumentDTO">
 		SELECT dno, dname, dcontent, dstatus, dwriter, reg_dt, up_dt, clno
        FROM document 
        where clno = #{clno}
        ORDER by reg_dt desc
        limit #{startNo},7
 	</select>
 	
 	<select id="getTotal" parameterType="int" resultType="int">
 		SELECT COUNT(*)
 		FROM document
 		WHERE clno = #{clno}
 	</select>
 	
 	<select id="selectOne" parameterType="int" resultType="DocumentDTO">
 		SELECT dno, dname, dcontent, dstatus, dwriter, reg_dt, up_dt, clno
 		FROM document
 		where dno = #{dno}
 	</select>
 	
 	<update id="updateOne" parameterType="DocumentDTO">
 		UPDATE document
 		SET dcontent = #{dcontent}, dstatus = #{dstatus}, dname = #{dname}
 		WHERE dno = #{dno}
 	</update>
 	
 	<delete id="deleteOne" parameterType="int">
 		DELETE FROM document
 		WHERE dno = #{dno}
 	</delete>
  
  </mapper>