<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wegoing.dao.FileDao">
	<select id="getFileList" resultType="FileDTO" parameterType="int">
		select fno,uuid,fname,fpath,reg_dt,clno,description
		from file
		where clno= #{clno}
	</select>
	
	<insert id="uploadFile" parameterType="FileDTO">
		insert into file(fname,uuid,fpath,clno,description) 
		values(#{fname}, #{uuid},#{fpath}, #{clno},#{description} )
	</insert>
	
	<delete id="deleteFile" parameterType="int">
		delete from file
		where fno = #{fno}
	</delete>
	
</mapper>