<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
 <mapper namespace="com.wegoing.dao.NoticeDao">
 	<select  id="getNoticeList" resultType="NoticeDTO" parameterType="map">
 		SELECT notino, ntitle, reg_dt,nhits,importance
 		FROM notice
 		 ORDER BY reg_dt DESC
        LIMIT #{offset}, #{pageSize}
 	</select>
 	<select id="getNoticeOne" parameterType="int" resultType="NoticeDTO">
 		SELECT notino, ntitle,ncontent, reg_dt,nhits,importance,email
 		FROM notice
 		WHERE notino=#{notino}
 	</select>

 	<select id="getNoticeCount" resultType="int">
 		SELECT count(*) FROM notice
 	</select>
 	
 	<insert id="writeNotice" parameterType="NoticeDTO">
 		INSERT INTO notice(ntitle,ncontent,importance)
 		VALUES (#{ntitle}, #{ncontent}, #{importance})
 	</insert>
 	<update id="updateHits" parameterType="int">
 		UPDATE notice
		SET nhits = nhits+1
		WHERE notino =#{notino}
 	</update>
 	
 </mapper>