<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:fragment="clubtopbarFragment">


    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4-2 static-top shadow2">
        <!-- Sidebar Toggle (Topbar) -->
        <div class="club-info">
            <a class="club-main" th:href="@{./document}">
            <span class="navbar-club-name" th:text="${club.clname}"></span></a>
            <span class="club-setting-btn" data-toggle="modal" data-target="#club-setting">
            <img src="/img/setting_btn.png" alt="설정버튼이미지" class="club-setting-img"/></span>
            <p class="navbar-club-explain" th:text="${club.clexplain}"></p>
            
            <!-- 협업공간 관리 모달창 -->
            <div class="modal fade" id="club-setting" tabindex="-1" role="dialog" 
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div><h5 class="modal-title  text-gray-900 " id="exampleModalLabel">협업공간 관리</h5></div> 
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                        </div>                        
                    <form th:action="@{/club/{clno}/edit(clno=${club.clno})}" id="editForm" method="post" >
                        <div class="modal-body">
                            <div>
                                <h6 class="h6 text-gray-900 ">협업공간 이름</h6>
                                <input type="text" class="form-control" name="editClname" id="editClname" th:value="${club.clname}" />
                            </div>
                            <font size="2px;" style="padding-left: 5px; color:#aaa;">25자이내</font>
                            <div>
                                <hr />
                                <h6 class="h6 text-gray-900">협업공간 내용</h6>
                                <textarea class="form-control" id="editClexplain" name="editClexplain"
                                    rows="3" cols="50" style="resize: none;" th:text="${club.clexplain}"                                    
                                    onKeyUp="checkLength()"></textarea>
                            </div>
                            <font size="2px;" style="padding-left: 5px;"><span style="color:#aaa;" id="editCounter" th:text="|(${club.clexplain.length()} / 100자)|"></span></font>
                        </div>
                        <div class="modal-footer">
                            <input type="button" id="updateClubBtn" class="btn btn-primary"
                                value="수정" onclick="updateClub()" />
                        </div>
                    </form>               
                </div>
            </div>
        </div>
    </div>
        <button id="sidebarToggleTop"
            class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none"><a
                class="nav-link dropdown-toggle" href="#" id="searchDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
            </a> <!-- Dropdown - Messages -->
                <div
                    class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                    aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                placeholder="Search for..." aria-label="Search"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div></li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"> <i class="fas fa-bell fa-fw"></i> 
                <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">3+</span>
            </a> 
            <!-- Dropdown - Alerts -->
                <div
                    class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header" style="text-align: center;">알람</h6>
                    <a class="dropdown-item text-center small text-gray-500" href="#">모든
                        알람 보러가기</a> <a class="dropdown-item d-flex align-items-center"
                        href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 12, 2019</div>
                            <span class="font-weight-bold">A new monthly report is
                                ready to download!</span>
                        </div>
                    </a><a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your
                            account.
                        </div>
                    </a> <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your
                            account.
                        </div>
                    </a>
                </div></li>
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow"><a
                class="nav-link dropdown-toggle" href="#" id="userDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><img class="img-profile rounded-circle"
                    src="/img/undraw_profile.svg">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    style="margin-left: 10px" sec:authentication="principal.mdto.name"></span> 
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">님</span></a> <!-- Dropdown - User Information -->
                <div
                    class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#"> <i
                        class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 마이페이지
                    </a> <a class="dropdown-item" href="#"> <i
                        class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> 내가 작성한 글
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal"
                        data-target="#logoutModal"> <i
                        class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        로그아웃
                    </a>
                </div></li>
            <div class="topbar-divider d-none d-sm-block" style="margin-left: 3px; margin-right: 3px;"></div>
            <!-- Nav Item - Messages -->
            <li class="nav-item no-arrow mx-1">
            <a
                class="nav-link" th:href="@{./member}" id="messagesDropdown"
                role="button" aria-haspopup="true"
                aria-expanded="false"> <span
                    class="mr-2 d-none d-lg-inline text-gray-600 small">멤버</span> <!-- Counter - Messages -->
            </a> <!-- Dropdown - Members -->
                <!-- <div
                    class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header"
                        style="border-bottom: gray solid 1px; text-align: center;">협업공간 멤버</h6>
                    <a class="dropdown-item text-center small text-gray-500"
                        href="partner">멤버 추가</a>
                    <div style="overflow-X: hidden; height: 570px;">
                        <div data-toggle="modal" data-target="#deletePartner">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle"
                                        src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="...">
                                </div>
                                <div>
                                    <div class="text-truncate">이하나</div>
                                    <div class="text-truncate text-gray-600">이메일</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div> -->
            </li>
        </ul>
</nav>
    <div class="category-nav shadow">
	    <div><hr class="category-line"/></div>
	    <div class="category">
	       <div class="category-items"><a th:href="@{/document/list(clno=${club.clno})}">문 서</a></div>
	       <div class="category-items"><a href="#">칸 반</a></div>
	       <div class="category-items"><a href="#">캘 린 더</a></div>
	       <div class="category-items"><a href="#">보 관 함</a></div>
	       <div class="nav-underline"></div>
	    </div>
    </div>

    <!-- End of Topbar -->
<script th:src="@{/js/updateClub.js?ver=1}"></script>
</th:block>
</html>