<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:fragment="topbarFragment">

	<!-- Topbar -->
	<nav
		class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		<!-- Sidebar Toggle (Topbar) -->
		<button id="sidebarToggleTop"
			class="btn btn-link d-md-none rounded-circle mr-3">
			<i class="fa fa-bars"></i>
		</button>
		<!-- Topbar Navbar -->
		<ul class="navbar-nav ml-auto">
			<!-- Nav Item - Search Dropdown (Visible Only XS) -->
			<li class="nav-item dropdown no-arrow d-sm-none"><a
				class="nav-link dropdown-toggle" href="#" id="searchDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
			</a> <!-- Dropdown - Messages -->
				<div
					class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
					aria-labelledby="searchDropdown">
					<form class="form-inline mr-auto w-100 navbar-search">
						<div class="input-group">
							<input type="text" class="form-control bg-light border-0 small"
								placeholder="Search for..." aria-label="Search"
								aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>
				</div></li>

			<!-- Nav Item - Alerts -->
			<li class="nav-item dropdown no-arrow mx-1"><a
				class="nav-link dropdown-toggle" href="#" id="alertsDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <i class="fas fa-bell fa-fw"></i> <!-- Counter - Alerts -->
					<span th:if="${hasAlarm}" class="badge badge-danger badge-counter">N</span>
			</a> <!-- Dropdown - Alerts -->
				<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="alertsDropdown" >
                    <h6 class="dropdown-header" style="text-align: center;">알람</h6>
                    <a class="dropdown-item text-center small text-gray-500" th:href="@{/alarmList}">모든
                        알람 보러가기</a> 
                        <div th:each="alarm : ${alarmList}">
                            <div th:if="${alarmStat.index lt 3 && alarm.checked == false}">
                                <a class="dropdown-item d-flex align-items-center" th:href="@{/alarmList}">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-fw fa-folder text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500" th:text="${alarm.reg_dt}"></div>
                                    <span class="font-weight-bold" th:text="${alarm.acontent}"></span>
                                </div>
                               </a>
                            </div>
                        </div>
                </div></li>
			<!-- Nav Item - User Information -->
			<li class="nav-item dropdown no-arrow"><a
				class="nav-link dropdown-toggle" href="#" id="userDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"><img class="img-profile rounded-circle"
                    th:if="${user.image == null}" th:src="@{/img/undraw_profile}">
                    <img class="img-profile rounded-circle"
                    th:unless="${user.image == null}" th:src="@{/img/} + ${user?.image}">
					<span class="mr-2 d-none d-lg-inline text-gray-600 small"
					style="margin-left: 10px" sec:authentication="principal.mdto.name"></span> 
					<span class="mr-2 d-none d-lg-inline text-gray-600 small">님</span></a> <!-- Dropdown - User Information -->
				<div
					class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
					aria-labelledby="userDropdown">
					<a class="dropdown-item" th:href="@{/mypage}"> <i
						class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 마이페이지
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#" data-toggle="modal"
						data-target="#logoutModal"> <i
						class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
						로그아웃
					</a>
				</div></li>
			<div class="topbar-divider d-none d-sm-block" style="margin-left: 3px; margin-right: 3px;"></div>
			<!-- Nav Item - Messages -->
			<li class="nav-item dropdown no-arrow mx-1"><a
				class="nav-link dropdown-toggle" th:href="@{/partner}" id="messagesDropdown"
				aria-haspopup="true"
				aria-expanded="false"> <span
					class="mr-2 d-none d-lg-inline text-gray-600 small">파트너</span> <!-- Counter - Messages -->
			</a></li>
		</ul>
	</nav>
	<!-- End of Topbar -->
</th:block>
</html>