@charset "UTF-8";

/* list.css */
.paging{
	width: 300px;
	margin: auto;
	}
#writeButton{
	margin-left: 900px;
}
#wModal{
	width: 800px;
	
}
#responsiveDiv{
	float: left;
	width: 300px;
}
#cardtodo{
	
	width: 450px;
}
#cardtextarea{
	clear: both;
}
	
	
/* ddtail.css */
#headbutton{
	position: absolute;
	right: 100px;
	top: 155px;
	
}
#dtailTable{
	border-collapse:collapse;
	width: 300px;
	
}
#dtailTable td, #dtailTable th{
	border:none;
	width: 100px;
}
#todoTable{
	border-collapse:collapse;
	
}
 #todoTable td, #todoTable th{
	border:none;
} 

