@charset "UTF-8";

/* list.css */
.paging{
	width: 300px;
	margin: auto;
	}
#writeButton{
	margin-left: 900px;
}
	
	
/* ddtail.css */
#headbutton{
	position: absolute;
	right: 100px;
	top: 100px;
	
}
#dtailTable{
	border-collapse:collapse;
	width: 300px;
	
}
#dtailTable td, #dtailTable th{
	border:none;
	width: 100px;
}

