@charset "UTF-8";

#emailCk {
	font-size: small;
}

.title {
	margin: 80px auto;
	text-align: center;
}

@font-face {
	font-family: 'LINESeedKR-Rg';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}

* {
	font-family: 'LINESeedKR-Rg';
}

input {
	border: none;
}

.email_Ok {
	font-size: 12px;
	margin: 5px 0px 0px 5px;
	color: #13c242;
	display: none;
}

.email_Already {
	color: red;
	font-size: 12px;
	margin: 5px 0px 0px 5px;
	display: none;
}

.nickname_Ok {
	font-size: 12px;
	margin: 5px 0px 0px 5px;
	color: #13c242;
	display: none;
}

.nickname_Already {
	color: red;
	font-size: 12px;
	margin: 5px 0px 0px 5px;
	display: none;
}

.pw_Ok {
	font-size: 12px;
	margin: 5px 0px 0px 5px;
	color: #13c242;
	display: none;
}

.pw_Already {
	color: red;
	font-size: 12px;
	margin: 5px 0px 0px 5px;
	display: none;
}

#emailspan {
	display: none;
	margin-right: 40px;
}

.email {
	background: white;
}

#hiddenEmail {
	display: none;
}

#numOk {
	display: none;
}

#memailconfirm {
	border-bottom: solid 1px grey;
	text-align: center;
}

.container {
	width: 650px;
}

#checknum {
	font-size: small;
}

#numOkButton {
	font-size: small;
}

.errorEmail {
	color: red;
	font-size: 12px;
	margin: 5px 0px 0px 5px;
}

.success {
	font-size: 12px;
	margin: 5px 0px 0px 5px;
	color: #13c242;
}