@charset "UTF-8";


#todoList{
	height: 600px;
	-ms-overflow-style: none; 
  	scrollbar-width: none; 
  	overflow-y: scroll; 
}
#todoList::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#todoTable{
	table-layout: fixed;
}

.clubname{
	white-space : nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}

 #todoTable th{
	white-space : nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}
 #todoTable td{
	width: 50%;
}