<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/club}">

<th:block layout:fragment="content">	
	<div class="container-fluid pt-6">
    <div class="row flex-row flex-sm-nowrap py-3">
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2" th:text="발의됨"></h6>
                    <div class="items border border-light" th:each="start : ${start}">
                        <div class="card draggable shadow-sm" th:id="'cd'+${start.dno}"  draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <a th:href="@{document/detail(dno = ${start.dno})}" class="font-weight-light" th:text="${start.dname}"></a>
                                </div>
                            </div>
                        </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="start"> &nbsp; </div>
                    </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="start"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="start"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="start"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="start"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="start"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="start"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="start"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="start"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="start"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="start"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="start"> &nbsp; </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2"  th:text="진행중"></h6>
                    <div class="items border border-light" th:each="ongoing : ${ongoing}">
                        <div class="card draggable shadow-sm" th:id="'cd'+${ongoing.dno}" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <a th:href="@{document/detail(dno = ${ongoing.dno})}" class="font-weight-light" th:text="${ongoing.dname}"></a>
                                </div>
                            </div>
                        </div>  
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)" id="ongoing"> &nbsp; </div>                			
                    </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="ongoing"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="ongoing"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="ongoing"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="ongoing"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="ongoing"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="ongoing"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="ongoing"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="ongoing"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="ongoing"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="ongoing"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="ongoing"> &nbsp; </div>

                </div>
            </div>
        </div>
       <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2" th:text="일시중지"></h6>
                    <div class="items border border-light" th:each="stop : ${stop}">
                        <div class="card draggable shadow-sm" th:id="'cd'+${stop.dno}" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <a th:href="@{document/detail(dno = ${stop.dno})}" class="font-weight-light" th:text="${stop.dname}"></a>
                                </div>
                            </div>
                        </div>  
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)" id="stop"> &nbsp; </div>                			
                    </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="stop"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="stop"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="stop"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="stop"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="stop"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="stop"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="stop"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="stop"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="stop"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="stop"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="stop"> &nbsp; </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2" th:text="완료"></h6>
                    <div class="items border border-white" th:each="done : ${done}">
							<div class="card draggable shadow-sm" th:id="'cd'+${done.dno}" draggable="true" ondragstart="drag(event)">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <a th:href="@{document/detail(dno = ${done.dno})}" class="font-weight-light"  th:text="${done.dname}"></a>
                                </div>
                            </div>
                        </div>
                        <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)" id="done"> &nbsp; </div>    
                    </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="done"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="done"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="done"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="done"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="done"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="done"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="done"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="done"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="done"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="done"> &nbsp; </div>
                    <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"  id="done"> &nbsp; </div>
                </div>
            </div>
        </div>
    </div>
</div>
	

</th:block>