<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/club}">


<th:block layout:fragment="content">


	<div class="container">
		
		
	  	
	  	<div class="table-responsive" id="responsiveDtail">
        	<table class="table table-bordered" id="dtailTable">
        		<tr>
        		<div class="dropdown mb-4">
					<span>
					<button class="btn btn-primary" type="button"  th:text="${dto.dstatus}"
				             aria-expanded="false">
				         </button>
				         </span>
				        </div>
				</tr>
        		<tr>
					<th scope="col">작성자</th>
					<td>[[${dto.dwriter}]]</td>
				</tr>
        	</table>
	  	</div>
	  	<!-- 할일 리스트 -->
 		<div class="card shadow mb-4" id="detailtodo">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">To do list</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardExample">
            <input type="hidden" id="hidedno" th:value="${dto.dno}" />
                <div class="card-body" id="detailTodoList">
                	
                	<table class="table" id="dtailtodoTable" width="100%" cellspacing="0">
                		<tr  th:each=" member : ${todoList}">
                			<th th:text="${member.name}"></th>
                			<td  width='185px' th:text="${member.tododto.tname}"></td>
                			<td th:text="${member.tododto.tstatus}"></td>
                			<td><button class='btn btn-danger btn-circle btn-sm' th:value="${member.tododto.tno}"><i class='fas fa-trash'></i></button></td>
                		</tr>
                	</table>
                </div>
            </div>
        </div>
	  	
	  	<!-- 예시 -->
	  	<div class="card shadow mb-4" id="dtailTextarea">
           <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold text-primary" th:text="${dto.dname}"></h6>
           </div>
           <div class="card-body">
           <textarea class="form-control" disabled="disabled" rows="22" cols="" th:text="${dto.dcontent}"></textarea>
           	<!-- [[${dto.dcontent}]] -->
           </div>
       </div>
       <div>
       </div>
		<span id = "headbutton">
		    <a th:href="@{modify(dno=${dto.dno})}"><button type="button" class="btn btn-warning">수정</button></a>
			<span th:if="${dto.dwriter == #authentication.principal.mdto.name}">
		         <a th:href="@{delete(dno=${dto.dno})}"><button type="button" class="btn btn-danger ">삭제</button></a>
			</span> 
		    <a th:href="@{list}"><button type="button" class="btn btn-outline-secondary">목록</button></a>
		</span>

	</div>
</th:block>