<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/default}">


<th:block layout:fragment="content">


	<div class="container">
		<form action="modify" method="post">
		
		<input type="hidden" id="hidestatus" name="dstatus" th:value="${dto.dstatus}" />
		<input type="hidden" name="clno" th:value="${dto.clno}" />
		<div class="mb-3">
			<div class="dropdown">
			  <button class="btn btn-secondary btn-sm dropdown-toggle" id="statusbutton" type="button" th:text="${dto.dstatus}" data-bs-toggle="dropdown" aria-expanded="false">
			  </button>
			  <ul class="dropdown-menu">
			    <li><button class="dropdown-item" type="button">일시중지</button></li>
			    <li><button class="dropdown-item" type="button">진행중</button></li>
			   	<li><button class="dropdown-item" type="button">완료</button></li>
			  </ul>
			  
			</div>
		  <input type="hidden" name="dno" th:value="${dto.dno}" />
		  <label for="exampleFormControlInput1" class="form-label">작성자</label>
		  <input type="text" readonly  class="form-control-plaintext" id="exampleFormControlInput1" th:value="${dto.dwriter}" >
		</div>
		<div class="mb-3">
		  <label for="exampleFormControlTextarea1" class="form-label"></label>
		  <textarea class="form-control" name="dcontent" id="exampleFormControlTextarea1" rows="3" th:text="${dto.dcontent}"></textarea>
		</div>
		
			<span id = "headbutton">
                
               	<button type="submit" class="btn btn-warning">수정하기</button>
                <a th:href="@{todo(clno=${dto.clno})}"><button type="button" class="btn btn-info">할일등록</button></a>
                <a th:href="@{list(clno=${dto.clno})}"><button type="button" class="btn btn-outline-secondary">목록</button></a>
			  </span>
		</form>

	</div>
</th:block>