<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/default}">

<th:block layout:fragment="content">
	<!-- Begin Page Content -->
	<!-- 나중에 반복문 쓸 것도 있음 -->
	<div class="container-fluid">
		<div class="d-sm-flex align-items-center justify-content-between mb-5">
			<h2 class="h4 mb-0 text-gray-800">WEGOING에 오신것을 환영합니다!</h2>
		</div>
		<div class="d-sm-flex align-items-center justify-content-between mb-3">
			<h6 class="h6 mb-0 text-gray-600">내 협업공간 진행상태</h6>
		</div>
		<div style="background: white; height: 380px; padding-top: 10px;" >
			<div style="margin-left:36%;" >
				<select name="club_name" id="club_name" style="width:40%;">
					<option value="" style="text-align: center">협업공간 선택</option>
						<th:block th:each="dto: ${myClub}">
							<option  th:value="${dto.clname}" th:utext="${dto.clname}"></option>
						</th:block>
				</select>
			</div>
			<div id="live-poll-area" style="padding:20px; " class="align-items-center">
				<div class="graph-container">
					<div class="graph"></div>
				</div>
				<div class="answer-list"></div>
			</div>
		</div>
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-3" style="margin-top: 50px;">
			<h6 class="h6 mb-0 text-gray-600">최근가입순</h6>
		</div>
		<!-- Content Row -->
		<div class="row" >
			<th:block th:each="dto, dtoStat: ${myClub}">
			<div class="col-xl-3 col-md-6 mb-4"  th:if="${dtoStat.index < 4}"  >
				<div class="card border-left-primary shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div

									class="h5 mb-0 font-weight-bold text-primary mb-1" style="overflow: hidden; text-overflow: ellipsis; display: block; white-space: nowrap; width: 100%;">
									<a th:href="@{/document/list{clno}(clno=${dto.clno})}" style="text-decoration-line: none;" th:text="${dto.clname}"> </a>

								</div>
								<div  style="overflow: hidden; text-overflow: ellipsis; display: block; white-space: nowrap; width: 100%;"  class="text-xs font font-weight-bold text-gray-800"  th:text="${dto.clexplain}"></div>
							</div>
							<div class="col-auto">
								</i>
							</div>
						</div>
					</div>
				</div>
			</div>
			</th:block>			
		</div> 
		<div class="d-sm-flex align-items-center justify-content-between mb-3" style="margin-top: 10px;">
			<h6 class="h6 mb-0 text-gray-600">최근접속순</h6>
		</div>
		<!-- Content Row -->
		<div class="row">
			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-primary shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="h5 mb-0 font-weight-bold text-primary mb-1" style="overflow: hidden; text-overflow: ellipsis; display: block; white-space: nowrap; width: 100%;">
									<a href="#" style="text-decoration-line: none;"> 앱 리뉴얼 >
										Q&A 테스트</a>
								</div>
								<div style="overflow: hidden; text-overflow: ellipsis; display: block; white-space: nowrap; width: 100%;" class="text-xs font font-weight-bold text-gray-800">마감일은
									2023년 9월까지입니다.</div>
							</div>
							<div class="col-auto">
								</i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-success mb-1">
									Earnings (Annual)</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-info shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
								</div>
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
									</div>
									<div class="col">
										<div class="progress progress-sm mr-2">
											<div class="progress-bar bg-info" role="progressbar"
												style="width: 50%" aria-valuenow="50" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Pending Requests Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-warning shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div
									class="text-xs font-weight-bold text-warning text-uppercase mb-1">
									Pending Requests</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-comments fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>