<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/layout/default}">
<th:block layout:fragment="content">
    <div class="mypage-container">
	    <div class="title">
	       <p class="title-text">회원정보수정</p>
	    </div>
        <form th:action="@{/mypage/editOk}" method="post" class="edit-form" enctype="multipart/form-data">
	        <div class="myInfo">
                <label for="image">프로필 사진</label>
                <input id="file" type="file" name="file" class="input-info" />
	            <input type="hidden" th:value="${user.image}" name="image" class="input-info"/>
            </div>
	        <div class="myInfo">
	            <label for="email">이메일</label>
	            <input type="text" th:value="${user.email}" class="input-info" id="email" disabled="disabled" />
	            <input type="hidden" th:value="${user.email}" name="email" class="input-info"/>
	        </div>
	        <div class="myInfo">
	            <label for="pw">비밀번호</label>
	            <input type="password" name="pw" class="input-info" id="pw" />
	            <p id="pw-error">&nbsp;</p>
	        </div>
	        <div class="myInfo">
	            <label for="checkpw">비밀번호 확인</label>
	            <input type="password" class="input-info" id="checkpw" />	            
	            <p id="checkpw-error">&nbsp;</p>
	        </div>
	        <div class="myInfo">
	            <label for="name">이름</label>
	            <input type="text" th:value="${user.name}" name="name" class="input-info" id="name" />
	            <p id="name-error">&nbsp;</p>
	        </div>
	        <div class="myInfo">
                <label for="nickname">별명</label>
                <input type="text" th:value="${user.nickname}" name="nickname" class="input-info" id="nickname" />
                <p id="nickname-error">&nbsp;</p>
            </div>
	        <div class="myInfo">
	            <label for="name">전화번호</label>
	            <input type="text" th:value="${user.tel}" name="tel" class="input-info" id="tel" placeholder="01X-XXXX-XXXX"/>
	            <p id="tel-error">&nbsp;</p>
	        </div>
	        <div class="btn-box">
	           <button type="button" class="update-btn btn btn-outline-primary">수정</button>
	           <button type="reset" class="reset-btn btn btn-light">취소</button>	           
	        </div>
        </form>
    </div>
</th:block>