<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" href="../css/register.css" />
<script type="text/javascript" src="../js/register.js"></script>
</head>
<body>
	<div class="title">
		<h1>WeGoinG</h1>
	</div>
	<div class="container">
		<form  action="/register" method="post" id="question-form" novalidate>
			 	<div class="row">	
			 		<label for="email1" class="form-label">이메일</label>
			 		
			 		<div class="col">
				    <input type="text" name="email1" class="form-control" id="email1" size="11" required="">
				  	</div>
			 		@
			 		<div class="col">
						<input type="text" class="form-control" list="datalistOptions" name="email2" id="email2" placeholder="직접입력">
						<datalist id="datalistOptions">
						  <option value="naver.com">
						  <option value="daum.net">
						  <option value="gmail.com">
						</datalist>
				  	</div>
				  	<div class="col">
				    	<button type="button" id="emailCk" class="btn btn-outline-dark">중복검사</button>
				  	</div>
				  	<span class="email_Ok">사용 가능한 아이디입니다.</span>
					<span class="email_Already">누군가 이 아이디를 사용하고 있어요.</span>
			    </div>
			  
			  <div class="mb-3">	
				<label for="name" class="form-label">이름</label>
			    <input type="text" name="name" class="form-control" id="name" size="11" required="">
			  </div>
			  
			  <div class="mb-3">	
				<label for="name" class="form-label">닉네임</label>
			    <input type="text" name="nickname" class="form-control" id="nickname" size="11" required="">
			    <span class="nickname_Ok">사용 가능한 아이디입니다.</span>
				<span class="nickname_Already">누군가 이 아이디를 사용하고 있어요.</span>
			  </div>
			  
			  <div class="mb-3">
			    <label for="pw" class="form-label">비밀번호</label>
			    <input type="password" class="form-control"  name="pw" id="pw" required="">
			    <p class="ckeckPw" >&nbsp;</p>
			  </div>
			  
			  <div class="mb-3">
			    <label for="repw" class="form-label">비밀번호 확인</label>
			    <input type="password" class="form-control"  name="repw" id="repw" required="">
			    <span class="pw_Ok">비밀번호가 확인되었습니다.</span>
				<span class="pw_Already">비밀번호가 맞지 않습니다.</span>
			  </div>

			  <div class="mb-3">	
				<label for="tel" class="form-label">휴대전화</label>
			    <input type="text" name="tel" class="form-control" id="tel" size="11" required="">
			  </div>
			
			 
			  
			  
			  <div class="row">	
			 		<div class="col">
			 			<label for="name" class="form-label">이메일 인증</label>
				  	</div>
				  	
			 		<div class="col" id="hiddenEmail">
			 			<input type="hidden" name="email" id="email" class="email"  value=""/>
			 			<span><input type="text" name="" id="" disabled="disabled" class="email" size="30" /></span>
				 	</div>
				 	
			 		<div class="col">
			 			<button type="button" id="checknum" class="btn btn-outline-dark" >인증번호 받기</button>
				 	</div>

			    </div>
			    
			    <br />
			    
			    <div class="mb-3">	
			    	<div class="col">
					<span id="numOk">

						<label for="memailconfirm" id="memailconfirmTxt">인증번호를 입력해주세요</label> 
						<div>
						<input type="text" name="memailconfirm" id="memailconfirm" placeholder="인증번호 6자리를 입력해주세요!" size="30" class="text" />
						<button type="button" id="numOkButton" class="btn btn-outline-dark">인증 확인</button>
						</div>
						 
						</span>
			    	</div>

			  	</div>
			  
			
			  <div class="mb-3">
			  	
			  </div>
			 
			  <input type="submit" id="btnRegister" value="가입하기" class="btn btn-outline-dark" />
			  <a th:href="@{/main}">
				<input type="button" value="돌아가기" class="btn btn-outline-dark" />
				</a>
            
		</form>
	</div>

</body>
</html>